<main>


    <div class="content">
        <h6>ADMIN</h6>
        <p>Hello Welcome Back,</p>
        <h3>LET’S CHECK OUR PROGRESS</h3>
    </div>

    <div class="btncontainer mt-4">
        <div class="btn active" id="tab-1">YEARLY</div>
        <div class="btn" id="tab-2">MONTHLY</div>
        <div class="btn" id="tab-3">WEEKLY</div>
    </div>


    <div class="tabcontent show" id="tab-1-content">
        <section class="Admin" id="admin">

            <div class="container">
                <div class=" parent d-flex align-items-center justify-content-around">
                    <div class="left box leftitem" id="left">

                        <div class="tabcontent">
                            <div class="box-container d-flex  align-items-center">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">45,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic1.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">5,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic2.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="box-container d-flex  align-items-center mt-3">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">45,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic3.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">5,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic4.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="left box rightitem" id="right">

                        <highcharts-chart id="charthigh" [Highcharts]="Highcharts" [options]="chartOptions3"
                            style="width: 100%; height: 400px; display: block;"></highcharts-chart>

                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="tabcontent" id="tab-2-content">
        <section class="Admin" id="admin">

            <div class="container">
                <div class=" parent d-flex align-items-center justify-content-around">
                    <div class="left box leftitem" id="left">

                        <div class="tabcontent">
                            <div class="box-container d-flex  align-items-center">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">55,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic1.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">8,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic2.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="box-container d-flex  align-items-center mt-3">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">66,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic3.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">9,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic4.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="left box rightitem" id="right">

                        <highcharts-chart id="charthigh" [Highcharts]="Highcharts" [options]="chartOptions3"
                            style="width: 100%; height: 400px; display: block;"></highcharts-chart>

                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="tabcontent" id="tab-3-content">
        <section class="Admin" id="admin">

            <div class="container">
                <div class=" parent d-flex align-items-center justify-content-around">
                    <div class="left box leftitem" id="left">

                        <div class="tabcontent">
                            <div class="box-container d-flex  align-items-center">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">75,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic1.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">10,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic2.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="box-container d-flex  align-items-center mt-3">
                                <div class="box contents box1">
                                    <h3 id="white">TOTAL SALES</h3>
                                    <p id="white">55,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic3.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="box contents box2">
                                    <h3 id="black">TOTAL ITEMS</h3>
                                    <p id="black">11,000</p>
                                    <div class="image">
                                        <img src="/assets/dashpic4.png" alt="image" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="left box rightitem" id="right">

                        <highcharts-chart id="charthigh" [Highcharts]="Highcharts" [options]="chartOptions3"
                            style="width: 100%; height: 400px; display: block;"></highcharts-chart>

                    </div>
                </div>
            </div>

        </section>
    </div>












</main>