<main>
  <section class="product">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="content d-flex align-items-center">
            <div class="chevron">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="box">
                <h4>PRODUCTS ASSIGN</h4>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class="addnewproduct mt-4">
    <div class="container">
      <div class="row row1">
        <div class="col-md-12 prduct">
          <p class="text-center">Assign Product</p>
      </div>
       </div>
    </div>
  </section>
</main>
