<main>
    <section class="stockmangment">
        <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="content d-flex align-items-center boxcontent">
                        <div class="chevron">
                            <i class="bi bi-chevron-left"></i>
                        </div>
                        <div class="box">
                            <h4>STOCK MANAGEMENT</h4>
                        </div>
                    </div>
                    <div class="buttons d-flex align-items-center ">
                        <button type="button" class="btn bt1" (click)="openDialog()">ADD STOCK</button> <br>
                        <button type="button" class="btn bt2 shadow" (click)="openDialog2()">ADD TRANSFER STOCK</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>




        <section class="TABLE matTable mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        
        </section>
    
    </main>
    





